# Logs
logs/
*.log
services/polymarket/node_modules/
.projects\pronmarket
# Python
__pycache__/
*.py[cod]
.venv/
.env

# Node
node_modules/

# Backups
backups/

# History
.history/

# macOS
.DS_Store

libs/external/real-time-data-client-main/node_modules/
libs/external
services/telegram-service/node_modules/
libs/external/real-time-data-client-main
services/copy-trading-service/node_modules/